*.bat   text eol=crlf
*.c     text eol=lf
*.cc    text eol=lf
*.cpp   text eol=lf
*.cxx   text eol=lf
*.h     text eol=lf
*.hpp   text eol=lf
*.txt   text eol=lf
*.md    text eol=lf
*.json  text eol=lf
*.yml   text eol=lf